  /* Style pour la page 3 */
    /* Réinitialisation de la marge et du padding pour le body */
    body {
        margin: 0;
        padding: 0;
      }
      
      /* Définition du style de l'en-tête */
      .m_header {
        display: flex;
        background-color: #efefef;
        height: 20vh;
        max-height: 20vh;
      }
      
      /* Style de l'image dans l'en-tête */
      .m_header img {
        object-fit: contain;
        flex-shrink: 1;
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
        height: auto;
      }
      
      /* Style du titre de l'en-tête */
      .m_header h2 {
        font-size: 30px;
        align-self: flex-end;
        padding: 0;
        text-align: right;
        margin-left: auto;
        margin-right: 15px;
        color: #000000;
      }
      
      /* bande */
      .m_bande {
        display: flex;
        flex-direction: column;
      
      }
      
      /* Style des boutons dans la bande de couleur */
      .m_buttons {
        max-width: fit-content;
        background-color: #efefef;
        max-height: fit-content;
        align-self: center;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
      }
      
      /* Style des liens dans les boutons */
      .m_buttons a {
        padding: 10px;
        color: white;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        background-color: #bdbdbd;
      }
      
      /* Style des boutons avec marges droites */
      button.m_margin-right {
        margin-right: 50px;
      }
      
      /* Style des liens dans les boutons lorsqu'ils sont survolés */
      .m_buttons a:hover {
        background-color: #fdf0b5;
      }
      
      /* Style du contenu principal */
      .m_content {
        display: flex;
        margin: 30px;
        padding: 20px;
        background-color: #efefef;
        flex-wrap: wrap; /* Permettre aux colonnes de se placer côte à côte sur plusieurs lignes */
        justify-content: center; /* Centrer les éléments horizontalement */
      }
      
      /* Style des titres dans le contenu principal */
      .m_content h3 {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      
      /* Style des paragraphes dans le contenu principal */
      .m_content p {
        margin: 0 20px;
        font-size: 16px;
        line-height: 1.5;
        text-align: justify;
      }
      
      /* Style des colonnes */
      .m_column {
        padding: 0 10px;
        width: 30%; /* Définir la largeur des colonnes */
      }
      
      /* Style des titres des colonnes */
      .m_column h4 {
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 10px;
        text-align: center;
      }
      
      /* cases de couleurs */
      .cases {
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: fit-content;
        gap: 5em;
      
      }
      
      .case1 {
        border: rgb(255, 121, 166) 2px solid;
        padding: 0px;
        width: 14em;
        height: 14em;
        display: flex;
        flex-direction: column;
        
      }
      
      .case1 h3 {
        background: linear-gradient(to right, rgb(245, 182, 203) , rgb(255, 121, 166));
        margin: 0px;
        color: #fff;
        flex-grow: 1;
        text-align: center;
        font-size: large;
      
      }
      
      .case1 p {
        color:#828282;
        flex-grow: 2;
        margin:0px;
        background-color: #ffc0cb;
        font-size: medium;
      }
      
      .case2 {
        border: rgb(15, 182, 23) 2px solid;
        padding: 0px;
        width: 14em;
        height: 14em;
        display: flex;
        flex-direction: column;
        
      }
      
      .case2 h3 {
        background: linear-gradient(to right, rgb(172, 233, 175) , rgb(15, 182, 23));
        margin: 0px;
        color: #fff;
        flex-grow: 1;
        text-align: center;
        font-size: large;
      
      }
      
      .case2 p {
        color:#828282;
        flex-grow: 2;
        margin:0px;
        background-color: #84ee61;
        font-size: medium;
      }
      
      .case3 {
        border: rgb(37, 44, 241) 2px solid;
        padding: 0px;
        width: 14em;
        height: 14em;
        display: flex;
        flex-direction: column;
        
      }
      
      .case3 h3 {
        background: linear-gradient(to right, rgb(123, 155, 208) , rgb(37, 44, 241));
        margin: 0px;
        color: #fff;
        flex-grow: 1;
        text-align: center;
        font-size: large;
      
      }
      
      .case3 p {
        color:#828282;
        flex-grow: 2;
        margin:0px;
        background-color: #72a2dc;
        font-size: medium;
      }