/* Style pour la page 5 */
    /* Réinitialisation de la marge et du padding pour le body */
    body {
        margin: 0;
        padding: 0;
      }
      
      /* Définition du style de l'en-tête */
      .m_header {
        display: flex;
        background-color: #efefef;
        height: 20vh;
        max-height: 20vh;
      }
      
      /* Style de l'image dans l'en-tête */
      .m_header img {
          object-fit: contain;
          flex-shrink: 1;
          margin-left: 5px;
          height: 180px;
          width: 180px;
        }

      /* Style du titre de l'en-tête */
      .m_header h2 {
        font-size: 60px;
        align-self: flex-end;
        padding: 0;
        text-align: right;
        margin-left: auto;
        margin-right: 15px;
        color: rgb(56,151,4);
      }

      .m_header h3 {
        font-size: 30px;
        align-self: flex-end;
        padding: 0;
        text-align: right;
        margin-left: auto;
        margin-right: 15px;
        color: #000000;
      }
      
      
      /* bande */
      .m_bande {
        display: flex;
        flex-direction: column;
      
      }
      
      /* Style des boutons dans la bande de couleur */
      .m_buttons {
        max-width: fit-content;
        background-color: #efefef;
        max-height: fit-content;
        align-self: center;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
      }
      
      /* Style des liens dans les boutons */
      .m_buttons a {
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        background-color: #bdbdbd;
      }
      
      /* Style des boutons avec marges droites */
      button.m_margin-right {
        margin-right: 50px;
      }
      
      /* Style des liens dans les boutons lorsqu'ils sont survolés */
      .m_buttons a:hover {
        background-color: #fdf0b5;
      }
      
      .header {
        text-align: center;
        color:rgb(56,151,4);
        padding: 20px;
      }

      .form-container1 {
        width: 40%;
        border: 4px solid rgb(56, 151, 4);
        padding: 20px;
        float: left;
    }
    
    .form-container2 {
        width: 40%;
        border: 4px solid rgb(56, 151, 4);
        padding: 20px;
        float: right;
        color: green;
    }
    
